$black: hsl(0, 0%, 0%);
$grey: hsl(0, 0%, 80%);
$white: hsl(0, 0%, 100%);
$red:hsl(0, 100%, 50%);
$orange:hsl(28, 96%, 57%);
$orange-light: hsl(28, 97%, 62%);
$yellow:hsl(60, 100%, 50%);
$green:hsl(120, 100%, 25%);
$blue: hsl(240, 100%, 50%);
$purple:hsl(300, 100%, 25%);
$global-link-color: $blue;
$logo-color: $green;
