$black: hsl(0, 0%, 0%);
$grey: hsl(0, 0%, 50%);
$white: hsl(0, 0%, 100%);
$red:hsl(0, 100%, 50%);
$orange: hsl(39, 100%, 50%);
$yellow:hsl(60, 100%, 50%);
$green:hsl(120, 100%, 25%);
$blue: hsl(240, 100%, 50%);
$purple:hsl(300, 100%, 25%);
$global-link-color: $blue;
$logo-color: $green;
