/*
    headers
*/

main > section:first-of-type {
    position: relative;
}

.banner {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 40px;
    z-index: 1;
}

h1 {
    font-weight: 600;
}

p {
    font-weight: 500;
}

.hero-image-container {
    position: relative;

}

img {
    width: 100%;
}

.hero-image-container > p {
    display: none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
    color: $white;
    font-size: $font-size-credit;
}

.hero-image-container > p > a {
    color: $white;
}
.hero-image-container > p > a:hover {
    color: $orange;
}

@media screen and (min-width: $laptop-screen) {  

    .banner > h1 {
        font-size: $font-size-h1 * 2;
        margin-top: $margin-bottom-h1 * 2;
        margin-bottom: $margin-bottom-h1 * 2; 
    }

    .banner > p {
        font-size: $font-size-p * 2;
    }

    img {
        width: 100vw;
        height: 100vh;
        // https://stackoverflow.com/questions/5804256/image-inside-div-has-extra-space-below-the-image
        vertical-align: middle;
    }

    .hero-image-container > p {
        display: block;
        margin: 0 $margin-bottom-p/2 $margin-bottom-p/2 0;
    }
}